body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    background-image: url('../IMG/ab649f28-f681-4e01-b309-dd829b6afd0c-removebg-preview.png'); 
    
   background-size: 700px;
background-repeat: no-repeat; 
   
background-position: right top; 
   
;
}



.h2{
    font-size: 40px;
    font-weight: bold;
    color: white;
    align-items: flex-start;
    text-align: left;
    margin: 10px;
    padding: 10px;

}
.navbar {
 
 
    text-align: right;
}
.navbar ul {
    margin: 10px;
    padding: 10px;
    list-style-type: none;
}
.navbar li {
    display: inline;
    margin-right: 20px;
}
.navbar a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

h1{
   
    font-size: 65px;
}
.paragrafo{
    font-size: 25px;
}
.paragrafo2{
    font-size: 33px;
}
.esquerda{
    grid-column: 3 / 2;
    grid-row: 3 / 2;
    text-align: center;
    
}

#bloco-esquerdo{
    
}
.container{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);

}

.bloco-texto {
    
   
    background-color: #333; /* Cor de fundo do bloco de texto */
        
       
    color: white; /* Cor do texto */
        padding: 10px; /* Espaçamento interno */
        
       
    margin-top: 20px; /* Margem superior para separar do conteúdo acima */
        
       
    font-size: 18px; /* Tamanho da fonte */
        
       
    border-width: 5px;
        
       
    
       
    text-align: center; /* Alinha o texto ao centro */
        display: inline-block; /* Permite que o bloco ocupe apenas o espaço necessário */
        
       
    float: left; /* Alinha o bloco de texto à esquerda */
    }

    